target
*.ids
*.iml
*.ipr
*.iws
.classpath
.idea
*.tld
*plugin.xml
stacktrace.log
out/
database/
cobertura.ser
*.DS_Store
.project
.settings
*.ser
CodeNarcReport.html
logs/*
*.db
.env
local.env
prod.env
.gradle/
build/
buildPlugins/
.sass-cache
.sass-work
.asscache
.slcache
/coverage/
.asscache
classes/
/nodejs
/node_modules
npm-debug.log
temp.json
src/main/resources/public
docker/*.war
docker/*.jar